IMAGE_ID="gmi-d8cacd92"
INSTANCE_SIZE="standard.medium"
NETWORK_TYPE="BridgeToLan"
DISK_SIZE="50G"
IP_ADDRESSES="172.16.9.20 172.16.9.21 172.16.9.22"
GATEWAY_IP="172.16.9.1"

ECHOME_SERVER=<ECHOME-SERVER-IP>
ECHOME_ACCESS_ID=<AUTH-ID>
ECHOME_SECRET_KEY=<AUTH-SECRET-KEY>